<div style="margin: auto;" class="ui center aligned grid">
  <div {{action "play"}} class="ui inverted {{if active "active"}} green icon button"><i class="play icon"></i></div>
  <div {{action "stop"}} class="ui inverted red icon button"><i class="stop icon"></i></div>
</div>
