<div class="ui four steps">
  {{#link-to "psychopy.prepare" class="step"}}
    <i class="cubes icon"></i>
    <div class="content">
      <div class="title">Prepare</div>
      <div class="description">Check your stimulus resources.</div>
    </div>
  {{/link-to}}
  {{#link-to "psychopy.configure" class="step"}}
    <i class="sitemap icon"></i>
    <div class="content">
      <div class="title">Configure</div>
      <div class="description">Program a set of conditions in your scenario.</div>
    </div>
  {{/link-to}}
  {{#link-to "psychopy.broadcast" class="step"}}
    <i class="unhide icon"></i>
    <div class="content">
      <div class="title">Broadcast</div>
      <div class="description">Show visual stimulus on the local monitor!</div>
    </div>
  {{/link-to}}
  {{#link-to "psychopy.review" class="step"}}
    <i class="database icon"></i>
    <div class="content">
      <div class="title">Review</div>
      <div class="description">See how your session went.</div>
    </div>
  {{/link-to}}
</div>
<section class="ui clearing divider"></section>
<section>
  {{outlet}}
</section>
