<h3 class="ui inverted header">Device Index: {{attrs.src}}</h3>
<h3 class="ui inverted header">Device Handle: {{stateStr}}</h3>
<button class="ui blue button"{{action "acquire"}}>Click to acquire...</button>
<table class="ui compact fixed inverted table">
{{#each features as |f|}}
  <tr>
  {{#each f as |o|}}
    <td>{{o}}</td>
  {{/each}}
  </tr>
{{/each}}
</table>
