<button class="ui blue button"{{action "acquire"}}>Click to acquire...</button>
<ul>
{{#each features as |f|}}
  <p>
  {{#each f as |o|}}
    <span>{{o}}</span>
  {{/each}}
  </p>
{{/each}}
</ul>

{{!-- #each-in ures as |key value|}}
  <li>{{key}}: {{value}}</li>
{{/each-in --}}
