{{input
  type="text"
  value=attrs.meta.value
  disabled=attrs.meta.readonly
}}
{{#unless attrs.meta.readonly}}
<div class="ui inverted popup">
  <p>{{attrs.meta.range}}</p>
</div>
<div class="ui buttons">
  <button type="submit" class="ui teal right icon button">
    <i class="{{if attrs.nosubmit 'ellipsis horizontal' 'upload'}} icon"></i>
  </button>
</div>
{{/unless}}
