<form class="ui inverted segment" {{action "create" model on="submit"}}>
  <div class="two column stackable ui grid">
    <div class="column">
      <h3>Mapper Setup</h3>
      {{x-service-spec
        items=model.mapperSpecs
        value=model.mapperSpec
        index=model.mapperSpecIndex}}
    </div>
    <div class="column">
      <h3>Metadata Setup</h3>
      {{x-service-spec
        items=model.metadataSpecs
        value=model.metadataSpec
        index=model.metadataSpecIndex}}
    </div>
  </div>
  <div class="ui inverted segment">
    <button class="fluid ui submit button" type="submit">Create</button>
  </div>
</form>
