<div class="ui inverted segment">
  <h2>Mice</h2>
  <div class="ui inverted list">
  {{#each model.mice as |m|}}
    <div class="item">
      <i class="large teal folder open middle aligned icon"></i>
      <div class="content">
        {{link-to m "sbx-analyses.mouse" m class="header"}}
        <div class="description">more information...</div>
      </div>
    </div>
  {{else}}
    <div class="item">no directories here...</div>
  {{/each}}
  </div>
</div>
{{outlet}}
