<div id="sfreq-canvas-layer">
  <canvas id="sfreq-fitting" height="100" width="100"></canvas>
  <canvas id="sfreq-measure" height="100" width="100"></canvas>
</div>
<style>
  #sfreq-canvas-layer {
    position: relative;
  }
  #sfreq-canvas-layer > canvas {
    position: absolute;
  }
</style>
