<div class="two column stackable ui grid">
  <div class="column">
    <h3>Clock Setup</h3>
    {{x-service-spec items=model.clocks item=model.clock value=model.clock_id}}
  </div>
  <div class="column">
    <h3>Handler Setup</h3>
    {{x-service-spec items=model.handlers item=model.handler value=model.handler_id}}
  </div>
</div>
<div class="ui inverted segment">
  <div class="fluid red ui button" {{action 'broadcast'}}>
    <i class="play icon"></i>Play
  </div>
</div>
