<div class="two column stackable ui grid">
  <div class="column">
    <h3>Monitor Setup</h3>
    {{x-service-spec items=model.monitors item=model.monitor value=model.monitor_id}}
  </div>
  <div class="column">
    <h3>Window Setup</h3>
    {{x-service-spec items=model.windows item=model.window value=model.window_id}}
  </div>
</div>
