<div class="ui stackable three column page grid">
  <div class="column">
    <div class="ui card">
      <div class="content">
        <div class="ui blue header">Create new session</div>
      </div>
      <div class="extra content">
        {{#link-to 'analyses.new'
          tagName="div" class="ui basic fluid red button"}}Go!{{/link-to}}
      </div>
    </div>
  </div>
  {{#each model as |m|}}
  <div class="column">
    {{#x-anlz-session-card
      id=m.id
      title=m.title
      user=m.user
      timeAgo=""
      desc=m.desc
      host=m.conditionid
      src=m.imagesrc
      onOpen=""
    }}
      <div class="extra content">
        {{#link-to 'analysis' m.id
          tagName="div" class="ui basic fluid red button"}}Open{{/link-to}}
      </div>
    {{/x-anlz-session-card}}
  </div>
  {{/each}}
</div>
