<div class="two column stackable ui grid">
  <div class="column">
    <h3>Stimulus Setup</h3>
    {{x-service-spec items=model.stimuli item=model.stimulus value=model.stimulus_id}}
  </div>
  <div class="column">
    <h3>Projection Setup</h3>
    {{x-service-spec items=model.projections item=model.projection value=model.projection_id}}
  </div>
</div>
