.ui.slider.checkbox input:checked ~ .box, .ui.slider.checkbox input:checked ~ label
  color rgba(255, 255, 0, 0.95) !important
.ui.slider.checkbox input ~ .box, .ui.slider.checkbox input ~ label
  cursor pointer
