<h3>Error has occurred</h3>
<h3>{{model.message}}</h3>
<div class="ui divider"></div>
<div class="ui inverted segmant">
{{#each model.errors as |e|}}
  <h3>
    <span>{{e.title}}</span>: <span>{{e.status}}</span>
  </h3>
  <p>{{e.detail}}</p>
{{/each}}
</div>
