<input type="hidden" name="country">
<i class="dropdown icon"></i>
<div class="default text">Select Country</div>
<div class="menu">
  <div class="item" data-value="ai">
    <i class="ai flag"></i>
    Anguilla
    <span class="description">shift + a</span>
  </div>
  <div class="item" data-value="ag">
    <i class="ag flag"></i>
    Antigua
    <span class="description">shift + g</span>
  </div>
</div>
<style>
  #{{elementId}} { pointerevents: none; }
</style>
