<div class="ui inverted segment">
  <h2>Days</h2>
  <div class="ui inverted list">
  {{#each model.days as |d|}}
    <div class="item">
      <i class="large teal folder open middle aligned icon"></i>
      <div class="content">
        {{link-to d "sbx-analyses.mouse.day" d class="header"}}
        <div class="description">more information...</div>
      </div>
    </div>
  {{else}}
    <div class="item">no items here...</div>
  {{/each}}
  </div>
</div>
{{outlet}}
